*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1152px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.row{
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

/*HEADER*/

header{
    color: black;
}

.banner{
    height: 60px;
    flex-basis: 100%;
    
}

.col-1{
    display:flex;
    align-items: center;
    
}

.col-1 img{
    padding: 20px;
}

li{
    display: inline;
    text-decoration: none;
    margin: 10px;
}

.col-2{
    display:flex;
    justify-content: end;
    align-items: center;
}
 /*MAIN*/

 .jumbotron{
    height: 650px;
    background-color: skyblue;
    justify-content: center;
    align-items: center;
 }

 .col-3{
    border: solid black;
    width: 70%;
    height: 70%;
    display: flex;
 }

 .all-you-need img{
    width: 100%;
 }

 .all-you-need{
    display: flex;
    flex-direction: column;
 }

 .text-img{
    display: flex;

 }

 /*BUSINESS PLAN*/

.b-plan{
    display: flex;
    justify-content: center;
}
