*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    max-width: 1152px;
    margin: 0 auto;
}


.row{
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.small-container{
    max-width: 950px;
    margin: 0 auto;
}

.large-container{
    max-width: 950px;
    margin: 0 auto;
}

/*HEADER*/
body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding-top: 70px;
  }
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 3px white;
    z-index: 1;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

button{
    padding: 4px 8px;
  }

  img{
    display: block;
    max-width: 100%;
  }

  h1{
    font-size: 50px;
    font-weight: 800;
  }

  h3{
    font-size: 30px;
  }

  p{
    font-size: 14px;
  }

  span, li, a, button{
    font-size: 12px;
}

button, header li, a{
    cursor: pointer;
  }
  
/*NAVBAR*/
.navbar{
    height: 70px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.navbar-part-left{
    flex-basis: 35%;
    display: flex;
}

.navbar-part-center{
    flex-basis: 30%;
}

.navbar-part-right{
    flex-basis: 35%;
    display: flex;
    justify-content: flex-end;
}

.logo{
    display: flex;
    padding: 23px 0;
}

.logo img{
    width: 90%;
    padding-left: 8px;
}
.actions ul{
    display: flex;
    padding: 20px 0;
}

.navbar-part-left li{
    padding: 26px 10px;
  }
  
  .navbar-part-right li{
    padding: 23px 10px;
  }

  .actions{
    display: flex;
  }

.button-nav{
    position: relative;
    bottom: 2.5px;
}
 /*JUMBOTRON*/

 .jumbotron-background{
    height: 480px;
    background-color: #0093ce;
    padding-top: 30px;
 }

 .jumbotron-title{
    width: 80%;
    height: 150px;
 }

 .jumbotron-content{
    width: 100%;
    display: flex;
 }

 .jumbotron-content-description{
    flex-basis: 35%;
 }

 .jumbotron-content-image{
    flex-basis: 65%;
    height: 280px;
}

.jumbotron-content-description > a{
    color: black;
}

 /*BUSINESS PLAN*/

.circle{
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    line-height: 12px;
    vertical-align: middle;
}

.circle-blue{
    border: 3px solid blue;
  
}

.circle-white{
    border: 1px solid grey ;
}

    


.small-container{
    max-width: 800px;
    margin: 0 auto;
}

.section-plan-title{
    width: 70%;
}

.choice-billing > ul{
    display: flex;
}

.choice-billing li{
    vertical-align: middle;
    margin-right: 30px;
}



.choice-billing{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
}

.section-plane-title{
    width: 70%;
}
.section-title{
    height: 80px;
}

.section-plan{
    margin-top: 150px;
}
/*VERTICAL ROW*/
.vertical-row{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }

  .vertical-row > .column{
    flex-basis: calc(100% / 3);
    height: 650px;
    border: 1px solid darkgray;
  }

  .customer-plan{
    border-bottom: 1px solid darkgray;
    height: 30px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }

  .customer-plan-type{
    min-height: 70px;
  }

  .customer-plan-features{
    min-height: 130px;
  }
  
  .customer-plan-features li{
    width: 85%;
  }
  ul.icon-list > li {
    display: flex;
  }
  
  .icon-list > li > :first-child{
    margin-right: 5px;
  }
  
  .customer-plan-highlights li{
    width: 90%;
  }
  
  .customer-plan-test{
    text-align: center;
  }

  .button-col-85{
    width: 85%; 
  }
  
  .customer-plan-buynow > .border-special{
    padding-bottom: 20px;
    border-bottom: 1px solid darkgray;
  }

  .customer-plan-highlights li{
    margin-bottom: 10px;
  }
  
  .customer-plan-type-horizontal{
    display: flex;
    justify-content: space-between;
  }
  
  .customer-plan-horizontal-content > p{
    font-size: 12px;
    width: 60%;
  }

  .mb-10{
    margin-bottom: 10px;
  }

  .mb-50{
    margin-bottom: 50px;
  }

  .pl-20{
    padding-left: 20px;
  }

  .button-blue{
    background-color: blue;
    color: white;
    border: 1px solid transparent;
  }

  /*HORIZONTAL ROW*/
.horizontal-row{
    height: 180px;
    margin-bottom: 80px;
    border: 1px solid gray;
}
  .pr-20{
    padding-right: 20px;
  }

  .customer-plan-type-horizontal{
    display: flex;
    justify-content: space-between;
  }

  .customer-plan-horizontal-content > p{
    font-size: 12px;
    width: 60%;
}

/*PARTNER*/

.p-little{
    font-size: 13px;
}

.partner-dropbox{
    display: flex;
    gap: 30px;
}

.button-grey{
    background-color: white;
    color: black;
    border: 2px solid darkgrey;
}

/*OPERATIONS SECTION*/

.section-dimension-general{
    margin: 90px 0;
}

.section-operations-title{
    width: 85%;
}

.row-operations{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.column-operations{
    flex-basis: calc(100% / 3);
}

/*TEAM*/

.section-team-title{
    width: 60%;
}

.section-team-content{
    width: 30%;
}

.mb-30{
    margin-bottom: 30px;
}

/*SECTION SPONSOR*/

.row-square{
    display: flex;
    height: 350px;
}

.column-square-left{
    flex-basis: calc(100% / 3);
}

.column-square-center{
    flex-basis: calc(100% / 3 );
    background-color: #f5f5f5;
    border: 10px solid transparent;
}

.column-square-right{
    flex-basis: calc(100% / 3)
}

.card-square-over, .card-square-bottom{
    display: flex;
    flex-basis: 100%;
    height: 50%;
}

.content-square-lateral{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;

}
.row-square img{
    width: 50%;
}

.pt-20{
    padding-top:20px;
}

.paragraph-square{
    width: 90%;
}

.border-empty-square{
    width: 20%;
    border-top: 1px solid darkgray;
}



/*BACKGROUND COLORS*/

.bg-bordeaux{
    background-color: #61082b;
}

.bg-green{
    background-color: #a2d39b;
}

.bg-light-light-blue{
    background-color: lightblue;
}

.bg-red{
    background-color: red;
}

.bg-dark-blue{
    background-color: #0d2481;
}

.bg-yellow{
    background-color: #ffd830;
}
.bg-light-blue{
    background-color: #0093ce;

}

.bg-bright-red{
    background-color: #d5001f;
}
/*DROPBOX COMPANY*/
.dropbox-company{
    background-color: #0093ce;
}
.dropbox-company-content{
    height: 200px;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
}

.dropbox-company-content-title{
    align-items: center;
    color: #61082b;
    flex-basis: 50%;
}

.dropbox-company-content-button{
    text-align: center;
}

.dropbox-company-content button{
    border: 1px solid white;
    background-color: white;
}

/*SECTIONS FAQ*/
.section-faq-title{
    width: 50%;
}

.section-faq{
    border-bottom: 1px solid darkgray;
}