*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1152px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.row{
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

/*HEADER*/
body{
    padding-top: 70px;
}
header{
    color: black;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

button{
    padding: 4px 8px;
  }

.banner{
    height: 60px;
    flex-basis: 100%;
    
}

.col-1{
    display:flex;
    
}

.col-1 img{
    padding: 20px;
}

li{
    display: list-item;
    text-align: left;
}

.col-2{
    display:flex;
    justify-content: end;
    align-items: center;
}
 /*MAIN*/

 .jumbotron{
    height: 650px;
    background-color: skyblue;
    justify-content: center;
    align-items: center;
 }

 .col-3{
    border: solid black;
    width: 70%;
    height: 70%;
    display: flex;
 }

 .all-you-need img{
    width: 100%;
 }

 .all-you-need{
    display: flex;
    flex-direction: column;
 }

 .text-img{
    display: flex;

 }

 /*BUSINESS PLAN*/

.circle{
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    line-height: 12px;
    vertical-align: middle;
}

.circle-blue{
    border: 3px solid blue;
  
}

.circle-white{
    border: 1px solid grey ;
}

    


.small-container{
    max-width: 800px;
    margin: 0 auto;
}

.section-plan-title{
    width: 70%;
}

.choice-billing > ul{
    display: flex;
}

.choice-billing li{
    vertical-align: middle;
    margin-right: 30px;
}

span, li, a{
    font-size: 12px;
}

.choice-billing{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
}

.section-plane-title{
    width: 70%;
}
.section-title{
    height: 80px;
}

.section-plan{
    margin-top: 150px;
}

.vertical-row{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }

  .vertical-row > .column{
    flex-basis: calc(100% / 3);
    height: 650px;
    border: 1px solid darkgray;
  }

  .customer-plan{
    border-bottom: 1px solid darkgray;
    height: 30px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
  }

  .customer-plan-type{
    min-height: 70px;
  }

  .customer-plan-features{
    min-height: 130px;
  }
  
  .customer-plan-features li{
    width: 85%;
  }
  ul.icon-list > li {
    display: flex;
  }
  
  .icon-list > li > :first-child{
    margin-right: 5px;
  }
  
  .customer-plan-highlights li{
    width: 90%;
  }
  
  .customer-plan-test{
    text-align: center;
  }

  .button-col-85{
    width: 85%; 
  }
  
  .customer-plan-buynow > .border-special{
    padding-bottom: 20px;
    border-bottom: 1px solid darkgray;
  }

  .customer-plan-highlights li{
    margin-bottom: 10px;
  }
  
  .customer-plan-type-horizontal{
    display: flex;
    justify-content: space-between;
  }
  
  .customer-plan-horizontal-content > p{
    font-size: 12px;
    width: 60%;
  }

  .mb-10{
    margin-bottom: 10px;
  }

  .mb-50{
    margin-bottom: 50px;
  }

  .pl-20{
    padding-left: 20px;
  }

  .button-blue{
    background-color: blue;
    color: white;
    border: 1px solid transparent;
  }